<div >
    <div class="row" >
       <!-- -- //////////////////////////////-- -->
        <div class="col-md-3 " *ngFor="let manga of mangasList">
          
            <div  class="card mb-4 shadow-sm" [ngClass]="{'card text-white bg-success':manga.comprado}">
              <img class="card-img-top" [src]="manga.paginas[0]" alt="Card image cap">
              <div class="card-body">
                <p class="card-subtitle">{{manga.nombre}}</p>
                <p class="card-subtitle" *ngIf="manga.comprado==false">Precio: {{manga.precio |currency}} <span class="card-subtitle text-primary" *ngIf="manga.oferta==true">Oferta</span></p>
                <p class="card-subtitle" *ngIf="manga.comprado==true">Comprado: {{manga.precio |currency}} </p>
                <app-botonera-compra [manga]="manga" [(comprado)]="manga.comprado" *ngIf="manga.comprado==false"></app-botonera-compra>
              </div>
            </div>
        </div>
          <!-- -- //////////////////////////////-- -->
    </div>
</div>
          
                
                    

               
                
                
                
                



 
  
